.Base {
  font-family: 'Avenir';
  text-align: center;
  align-content: center
}
p.header-text{
margin-top: -10px;
margin-bottom: -20px;
font-family:'Avenir';
font-weight: bold;
font-size: 20px;
}
.money{
  border-radius:2.5%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  font-weight: bold;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-weight: bold;
  font-size: 1.5em;
}
.App-intro {
  font-weight: bold;
  font-size: large;
}
.MainText{
  margin:20px;
  padding-top: 20px;
}
.baseCard{
  border-radius: 3px;
  border-width: 3px;
  border-color: 'black';
  border-style: outset; 
  text-align: left;
  padding-left: 20px;
  border-radius: 2.5%;
  height: 300px;
  width: 400px;
  margin:20px;
  padding-top: 20px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
