.App {
  font-family: Avenir;
  text-align: center;
  background-color: #FAFAFA;
}

.App-logo {
  background-color: #FAFAFA;

  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FAFAFA;
  height: 150px;
  padding: 20px;
}

.App-title {
  background-color: #FAFAFA;
  font-size: 1.5em;
}

.App-intro {
  background-color: #FAFAFA;
  font-size: large;
}

.MainText{
  background-color: #FAFAFA;
  margin:20px;
  padding-top: 20px;
}

.Card{
  min-height: 300px;
  min-width: 200px;
  margin:20px;
  padding-top: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
